In [1]:
a=1
b=2
print(a+b)

3

In [2]:
a=1.5
b=2.5
print(a+b)

4.0

In [3]:
a="이것은 문자열"
b='이것은 문자열'
c="""이것은 문자열
문자열문자열
여러줄 문자열"""
d='''이것은 문자열
문자열 여러줄
여러줄'''
print(a)
print(b)
print(c)
print(d)

이것은 문자열
이것은 문자열
이것은 문자열
문자열문자열
여러줄 문자열
이것은 문자열
문자열 여러줄
여러줄

In [4]:
a=True
b=False
print(a,b)

True False

In [5]:
print(7/2)
print(7//2)
print(7%2)

3.5
3
1

In [6]:
print(-1%5)
print(1%-5)

4
-4

In [7]:
a=10
b=float(a)
print(a,b)

10 10.0

In [8]:
a=9.7
b=int(a)
print(a,b)

9.7 9

In [9]:
a="76.2"
b=float(a)
print(a,b)

76.2 76.2

In [10]:
a=10.2
b=21.8
c=str(a)
d=str(b)
print(a+b, c+d)

32.0 10.221.8

In [11]:
print("Enter name: ")
name = input()
print('Good morning!', name)

Enter name:
Tom
Good morning! Tom

In [12]:
name = input("Enter name: ")
print('Good morning!', name)

Enter name: Tom
Good morning! Tom

In [14]:
print()
print('hi','John')
print("hi"+' '+'John')

hi John
hi John

In [16]:
colors=['red','blue','green']
print(colors[0])
print(colors[2])
print(len(colors))
print(colors)

red
green
3
['red', 'blue', 'green']

In [17]:
mix_list = [1, 2,'Three',True]
print(mix_list)

[1, 2, 'Three', True]

In [18]:
cities = ['서울','부산','인천', '대구', '대전', '광주', '울산', '수원']

In [19]:
print(cities[0:6])

['서울', '부산', '인천', '대구', '대전', '광주']

In [20]:
print(cities[:6])

['서울', '부산', '인천', '대구', '대전', '광주']

In [21]:
print(cities[2:])

['인천', '대구', '대전', '광주', '울산', '수원']

In [22]:
print(cities[-7:])

['부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [23]:
print(cities[:-2])

['서울', '부산', '인천', '대구', '대전', '광주']

In [24]:
print(cities[:])
print(cities)

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [25]:
print(cities[1:7:2])

['부산', '대구', '광주']

In [26]:
print(cities[::-1])

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [27]:
print(cities[::2])

['서울', '인천', '대전', '울산']

In [28]:
color1=['red','blue','green']
color2=['orange','black','white']
add_color=color1+color2
print(len(add_color))
print(add_color)

6
['red', 'blue', 'green', 'orange', 'black', 'white']

In [29]:
mun_color=color1*2
print(len(mun_color))
print(mun_color)

6
['red', 'blue', 'green', 'red', 'blue', 'green']

In [30]:
print('blue' in color2)

False

In [31]:
color1.append('orange')
print(color1)

['red', 'blue', 'green', 'orange']

In [32]:
color1.extend(['black','white'])
print(color1)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [33]:
color2.insert(1,'red')
print(color2)

['orange', 'red', 'black', 'white']

In [34]:
color2.insert(2,'purple')
print(color2)

['orange', 'red', 'purple', 'black', 'white']

In [35]:
color2.remove('purple')
print(color2)

['orange', 'red', 'black', 'white']

In [37]:
print (a)

10.2

In [38]:
del a
print(a)

NameError: name 'a' is not defined

In [39]:
del color2[0]
print (color2)

['red', 'black', 'white']

In [40]:
color2[2] ='purple'
print (color2)

['red', 'black', 'purple']

In [41]:
color = ['red', 'blue', 'green']

In [42]:
a,b,c=color
print(a,b,c)

red blue green

In [43]:
a,_,c = color
print(a,c)

red green

In [44]:
kor_score=[60,65,85,100,90]
eng_score=[75,80,90,85,100]
math_score=[100,90,70,90,85]
term_score=[kor_score,eng_score,math_score]
print(term_score)

[[60, 65, 85, 100, 90], [75, 80, 90, 85, 100], [100, 90, 70, 90, 85]]

In [45]:
print(term_score[0])

[60, 65, 85, 100, 90]

In [46]:
print(term_score[0][2])

85

In [47]:
math_backup_score=math_score
math_score[0]=0
print(math_score)

[0, 90, 70, 90, 85]

In [48]:
print(term_score)

[[60, 65, 85, 100, 90], [75, 80, 90, 85, 100], [0, 90, 70, 90, 85]]

In [49]:
print(math_backup_score)

[0, 90, 70, 90, 85]

In [50]:
a=[1,10,5,7,6]
a.reverse()
print(a)

[6, 7, 5, 10, 1]

In [51]:
a.sort()
print(a)

[1, 5, 6, 7, 10]

In [52]:
a.sort(reverse=True)
print(a)

[10, 7, 6, 5, 1]

In [53]:
b=sorted(a)
print(a)
print(b)

[10, 7, 6, 5, 1]
[1, 5, 6, 7, 10]

In [54]:
c=sorted(a,reverse=True)
print(c)

[10, 7, 6, 5, 1]

In [55]:
a=[5,10,5,7,6]
print(a.count(5))

2

In [56]:
appetizer = ['egg','salad','bread','soup','canape']
main_dish = ['fish','lamb','pork','beef','chicken']
dessert = ['apple','ice cream', 'pudding', 'cookies', 'cake']

order =[appetizer, main_dish, dessert]
jane = [order[0][:-2],main_dish[1::3],dessert[1]]
del jane[2]
jane.extend([order[2][0:1]])

print(jane)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [57]:
my_age = int(input("Tell me your age?"))
if my_age < 30 :
    print('welcome to the club')
else:
    print("Oh! No. you are not accepted.")

Tell me your age?40
Oh! No. you are not accepted.

In [58]:
score =int(input('Enter your score:'))
if score >=90 :
    grade ='A'
elif score >=80:
    grade ='B'
elif score >=70:
    grade ='C'
elif score >=60:
    grade='D'
else:
    grade ='F'
print(grade)

Enter your score:75
C

In [59]:
a = 10
b = a*10 if a%2 ==0 else a+10
print(b)

100

In [62]:
for n in [1,2,3,4,5]:
    print('No.', n)

No. 1
No. 2
No. 3
No. 4
No. 5

In [63]:
for n in range(5):
    print('No.',n)

No. 0
No. 1
No. 2
No. 3
No. 4

In [64]:
for n in range(1,6):
    print('No.',n)

No. 1
No. 2
No. 3
No. 4
No. 5

In [65]:
for n in range(1,6,2):
    print('No.',n)

No. 1
No. 3
No. 5

In [66]:
for n in 'abcdefg':
    print(n)

a
b
c
d
e
f
g

In [67]:
for n in ['banana','pineapple','mango']:
    print(n)

banana
pineapple
mango

In [68]:
for n in ['banana','pineapple','mango']:
    for k in n:
        print(k)

b
a
n
a
n
a
p
i
n
e
a
p
p
l
e
m
a
n
g
o

In [69]:
for n in ['banana','pineapple','mango']:
    for k in n:
        print(k)
    print()

b
a
n
a
n
a

p
i
n
e
a
p
p
l
e

m
a
n
g
o

In [70]:
for n in ['banana','pineapple','mango']:
    for k in n:
        print(k, end='')
    print()

banana
pineapple
mango

In [71]:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [72]:
for i in range(10):
    if i==5:
        break
    print(i)
print('End of Program')

0
1
2
3
4
End of Program

In [73]:
for i in range(10):
    if i==5:
        continue
    print(i)
print('End of Program')

0
1
2
3
4
6
7
8
9
End of Program

In [74]:
for i in range(10):
    print(i)
else:
    print('End of Program')

0
1
2
3
4
5
6
7
8
9
End of Program

In [75]:
for i in range(10):
    if i ==5:break
    print(i)
else:
    print('End of Program')

0
1
2
3
4

In [79]:
i = int(input("몇단?"))
for j in range(1,10):
    print(f"{i} X {j} = {i*j}")

몇단?3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [82]:
sentence = 'I love you'
reverse_sentence = ''
for i in sentence:
    reverse_sentence = i+reverse_sentence
print(reverse_sentence)

uoy evol I

In [83]:
def calculate_rectangle_area(x,y):
    return x * y

In [86]:
rectangle_x = 10
rectangle_y = 20
print(rectangle_x)
print(rectangle_y)
print('사각형 넓이: ',calculate_rectangle_area(rectangle_x,rectangle_y))

10
20
사각형 넓이:  200

In [87]:
x = 5
y = x
y += 1
print(x,y)

5 6

In [88]:
def func1(x) :
    x += 1
    print("func1의 x:", x)

In [89]:
x = 10
func1(x)
print("메인의 x:", x)

func1의 x: 11
메인의 x: 10

In [90]:
fruits = ['melon', 'apple', 'banana']
my_bag =fruits
print(fruits)

['melon', 'apple', 'banana']

In [91]:
print(my_bag)

['melon', 'apple', 'banana']

In [92]:
my_bag.sort()
print(fruits)
print(my_bag)

['apple', 'banana', 'melon']
['apple', 'banana', 'melon']

In [93]:
def shopping_cart(goods):
    goods.append('coupon')
    goods =[1,2]
    print('In shopping_cart: ', goods)

In [94]:
shopping_list=['bean','salt','beef']
shopping_cart(shopping_list)
print('Goods I boungt: ', shopping_list)

In shopping_cart:  [1, 2]
Goods I boungt:  ['bean', 'salt', 'beef', 'coupon']

In [96]:
def shopping_cart(goods):
    goods =[1,2]
    goods.append('coupon')
   
    print('In shopping_cart: ', goods)

In [97]:
shopping_list=['bean','salt','beef']
shopping_cart(shopping_list)
print('Goods I boungt: ', shopping_list)

In shopping_cart:  [1, 2, 'coupon']
Goods I boungt:  ['bean', 'salt', 'beef']

In [98]:
def test(x):
    print(x)
    t = 20
    print("In test t, a: ", t, a)

In [99]:
a = 10
test(a)
print("In main a:", a)

10
In test t, a:  20 10
In main a: 10

In [100]:
print("In main t: ", t)

NameError: name 't' is not defined

In [101]:
def test(x):
    print(x)
    t = 20
    a = 300
    print("In test t, a: ", t, a)

In [102]:
a = 10
test(a)
print("In main a:", a)
print("In main t: ", t)

10
In test t, a:  20 300
In main a: 10

NameError: name 't' is not defined

In [103]:
def f():
    print(s)

In [104]:
s = 'I love LG Twins!'
f()
print(s)

I love LG Twins!
I love LG Twins!

In [107]:
def f():
    global s
    s = 'I love NC Dinos'
    print(s)

In [108]:
s = 'I love LG Twins!'
f()
print(s)

I love NC Dinos
I love NC Dinos

In [113]:
	def calculate(x, y):
	    total = x + y
    a=3
    b=4
	    print("In Function")
	    print("a:", str(a), "b:", str(b), "a + b:", str(a+b), "total:", str(total))
	    return total
	
	
	a = 5
	b = 7
	total = 0
	print("In Main")
	print("a:", str(a), "b:", str(b), "a + b:", str(a+b))
	
	sum = calculate(a, b)
	print("After Calculation")
print("Total:", str(total), "Sum:", str(sum))

In Main
a: 5 b: 7 a + b: 12
In Function
a: 3 b: 4 a + b: 7 total: 12
After Calculation
Total: 0 Sum: 12

In [110]:
def calculate(x, y):
    total = x + y
    print("In Function")
    print("a:", str(a), "b:", str(b), "a + b:", str(a+b), "total:", str(total))
    return total


a = 5
b = 7
total = 0
print("In Main")
print("a:", str(a), "b:", str(b), "a + b:", str(a+b))

sum = calculate(a, b)
print("After Calculation")
print("Total:", str(total), "Sum:", str(sum))

In Main
a: 5 b: 7 a + b: 12
In Function
a: 5 b: 7 a + b: 12 total: 12
After Calculation
Total: 0 Sum: 12

In [120]:
def print_name(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

In [121]:
print_name("Tom", "Jane")

Hello Jane, My name is Tom

In [122]:
def print_name(my_name, your_name='Jane'):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

In [123]:
print_name("Tom","Jane")

Hello Jane, My name is Tom

In [124]:
print_name("Tom")

Hello Jane, My name is Tom

In [125]:
print("a","b","c")

a b c

In [126]:
def variable_length(a,b,*args):
    print(a)
    print(b)
    print(args)

In [127]:
variable_length(1,2,3,4,5)

1
2
(3, 4, 5)

In [128]:
def variable_length(a,b,*args):
    print(a)
    print(b)
    c,d,e = args
    print(c,d,e)

In [129]:
variable_length(1,2,3,4,5)

1
2
3 4 5

In [130]:
s = "BLACK LIVES MATTER"
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())
print(s.count("T"))
print(s.startswith("B"))

k="123"
print(k.isdigit())

BLACK LIVES MATTER
black lives matter
Black Lives Matter
Black lives matter
2
True
True

In [131]:
print(1,2,3)
print("%d %d %d" %(1,2,3))
print("%s--%s--%s" %('abc','def','ghi'))
print("{} {} {}".format('abc','def','ghi'))
print("{1} {0} {2}".format('abc','def','ghi'))
print(f"{'def'} {'abc'} {'ghi'}")
print("{0:>10s}".format('python'))
print("{0:<10s}".format('python'))
print(f"{'python':>10s}")
print(f"{'python':<10s}")

1 2 3
1 2 3
abc--def--ghi
abc def ghi
def abc ghi
def abc ghi
    python
python
    python
python

In [132]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [134]:
examples = 'python,javascript,sql'
print(examples.split(','))

['python', 'javascript', 'sql']

In [136]:
a,b,c = examples.split(',')
print(a,b,c)

python javascript sql

In [137]:
colors = ['red','blue','green','yellow']
result = ' '.join(colors)
print(result)

red blue green yellow

In [138]:
colors = ['red','blue','green','yellow']
result = ', '.join(colors)
print(result)

red, blue, green, yellow

In [139]:
colors = ['red','blue','green','yellow']
result = '-'.join(colors)
print(result)

red-blue-green-yellow

In [140]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [141]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [142]:
print(a.pop())

10

In [143]:
print(a)

[1, 2, 3, 4, 5]

In [145]:
sentence = list('I love you')
reverse_sentence = []

for _ in range(len(sentence)):
    reverse_sentence.append(sentence.pop())
print(reverse_sentence)

['u', 'o', 'y', ' ', 'e', 'v', 'o', 'l', ' ', 'I']

In [146]:
print(''.join(reverse_sentence))

uoy evol I